@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Alexandria", serif;


}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/imagem-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

/* Tela Inicial */

.tela-inicial{
    position: relative;
    top: 30%;
}

.tela-inicial h1 {
    color: #ffff;
    font-size: 40px;
    position: relative;
    left: 5%;

}

.tela-inicial a button {
    margin-top: 1%;
    margin-left: 14%;
    padding: 15px 27px;
    border-radius: 15px;
    border: none;
    background-color: #f16f8b;
    color: #ffff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;


}
.tela-inicial button:hover {
    background-color: #b65368; 
}

/* Tela Inicial Final*/

/* Tela Níveis*/

.tela-niveis{
    position: relative;
    top: 23%;
    left: 4%;
    display: flex;
    flex-direction: column;

}

.tela-niveis h1 {
    color: #ffff;
    font-size: 40px;
    position: relative;

}

.tela-niveis a button {
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;


}

.tela-niveis a {
    display: flex;
    text-decoration: none;
}

/* margin-left: 12%;
    margin-top: 2%;
    border-radius: 15px;
    border: none;
    color: #ffff;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    margin-bottom: 20px;
    text-decoration: none !important; */

#facil button{
    background-color: #95C16A;
    padding: 15px 27px;
    


}

#medio button{
    background-color: #E5C96B;
    padding: 15px 20px;


}

#dificil button{
    background-color: #E46782;
    padding: 15px 20px;


}
#facil button:hover{
    background-color: #80a55c;
    padding: 15px 27px;
    


}

#medio button:hover{
    background-color: #cfb560;
    padding: 15px 20px;


}

#dificil button:hover{
    background-color: #bd556b;
    padding: 15px 20px;


}

/* Tela Níveis Final*/

/* Tela Facil*/

.tela-facil h1 {
    color: #ffff;
    font-size: 55px;

}
.tela-facil{
    position: relative;
    top: 25%;
    left: 4%;
    

}
.h2 {
    display: flex;
    flex-direction: column; 
    gap: 3px; 
    position: relative;
    bottom: 63px; 
    left: 22%;
    color: white;
}
.dicas{
    color: white;
    position: absolute; 
    left: 7%;
    top: 35%; 

}
.input-facil input{
    margin-left: 1%;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    display: flex;
    text-indent: 20px;
    color: #95C16A;
    font-size: 18px;
    font-weight: bold;
   
}
.input-facil button{
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px 20px;
    background-color: #95C16A;


}

.input-facil button:hover{
    background-color: #80a55c;

}

/* Tela Facil Final*/

/* Tela Médio*/

.tela-medio h1 {
    color: #ffff;
    font-size: 55px;

}
.tela-medio{
    position: relative;
    top: 25%;
    left: 4%;
    

}

.input-medio input{
    margin-left: 1%;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    display: flex;
    text-indent: 20px;
    color: #E5C96B;
    font-size: 18px;
    font-weight: bold;
   
}
.input-medio button{
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px 20px;
    background-color: #E5C96B;


}

.input-medio button:hover{
    background-color: #cfb560;

}

/* Tela Médio Final*/

/* Tela Dificil*/

.tela-dificil h1 {
    color: #ffff;
    font-size: 55px;

}
.tela-dificil{
    position: relative;
    top: 25%;
    left: 4%;
    

}

.input-dificil input{
    margin-left: 1%;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 15px;
    outline: none;
    display: flex;
    text-indent: 20px;
    color: #E46782;
    font-size: 18px;
    font-weight: bold;
   
}
.input-dificil button{
    margin-left: 12%;
    margin-top: 2%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px 20px;
    background-color: #E46782;


}

.input-dificil button:hover{
    background-color: #bd556b;

}

/* Tela Dificil Final*/

/* Tela Parabens Final*/

.tela-parabens{
    position: absolute;
    top: 25%; 
    left: 7%;
    text-align: center;

}
.tela-parabens h1 {
    color: #ffff;
    font-size: 55px;

}
.tela-parabens h2{
    color: #ffff;
    font-size: 27px;
    margin-top: 1%;

}
.tela-parabens a button{
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px 20px;
    background-color: #f16f8b;
    margin-top: 2%;

}
.tela-parabens a button:hover{
    background-color: #b65368;
}

/* Tela Fim de Jogo*/

.tela-fim{
    position: absolute;
    top: 25%; 
    left: 20%;
    text-align: center;

}
.tela-fim h1 {
    color: #ffff;
    font-size: 55px;

}
.tela-fim h2{
    color: #ffff;
    font-size: 27px;
    margin-top: 1%;

}
.tela-fim a button{
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px 20px;
    background-color: #f16f8b;
    margin-top: 2%;

}
.tela-fim a button:hover{
    background-color: #b65368;
}

















